/* GLobal Style */
html {
	background-color: #533A3A;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    padding: auto;
    margin: 0 auto;
}
/* Header Style */
.header {
    background-color: #FFF;
    background: url(../img/header.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 71px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 47px;
    padding-right: 53px;
}
.logo{
    margin-left: 35%;
    margin-right: 30%;
    
    margin-top: auto;
}

.logo_img{
    width:250px;
    height: 60px;
}
.login{
    color: #533A3A;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1.5%;
}
/* Article Style*/
.content-area{
    width: 804px;
    height: 894px;
    border:#E4D6BF 6px solid;
    margin: 167px auto 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-area h1{
    color: #E4D6BF;
    font-size: 24px;
    margin: 0;
    margin-top: 33px;
    margin-bottom: 38px;
}
.content-area p{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.brand-img{
    max-width: 388px;
    max-height: 314px;
    margin-top: 55px;
}
.brand-content{
    width: 654px;
    height: 366px;
    background-color: #E4D6BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 49px 36px 56px;
}
/*Footer style*/
.footer{
    width: 100%;
    height: 180px;
    background-color:#E4D6BF;
    display: flex;
    justify-content: space-around;
}
.footer h2{
    font-size: 18px;
    color: #533A3A;
    margin-top: 33px;
}
.footer p{
    color: #533A3A;
    margin-bottom: 10px;
    margin-top: 0;
}

.contact-imf{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.open-time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-bar{
    display: flex;
    padding: 0;
    margin-top: 65px;
}
.btn-item{
    list-style: none;
    padding-right: 15px;

}